pdf-as-moa/src/main/wsdl/MOA-SPSS-1.5.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Web Service Description for MOA SP/SS 1.4
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reference.e-government.gv.at/namespace/moa/20020822#" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:moa="http://reference.e-government.gv.at/namespace/moa/20020822#" xmlns:xsd="http://www.w3.org/1999/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="MOA" targetNamespace="http://reference.e-government.gv.at/namespace/moa/20020822#">
	<import namespace="http://reference.e-government.gv.at/namespace/moa/20020822#" location="./MOA-SPSS-1.5.2.xsd"/>
	<message name="CreateCMSSignatureInput">
		<part name="body" element="moa:CreateCMSSignatureRequest"/>
	</message>
	<message name="CreateCMSSignatureOutput">
		<part name="body" element="moa:CreateCMSSignatureResponse"/>
	</message>
	<message name="CreateXMLSignatureInput">
		<part name="body" element="moa:CreateXMLSignatureRequest"/>
	</message>
	<message name="CreateXMLSignatureOutput">
		<part name="body" element="moa:CreateXMLSignatureResponse"/>
	</message>
	<message name="VerifyCMSSignatureInput">
		<part name="body" element="moa:VerifyCMSSignatureRequest"/>
	</message>
	<message name="VerifyCMSSignatureOutput">
		<part name="body" element="moa:VerifyCMSSignatureResponse"/>
	</message>
	<message name="VerifyXMLSignatureInput">
		<part name="body" element="moa:VerifyXMLSignatureRequest"/>
	</message>
	<message name="VerifyXMLSignatureOutput">
		<part name="body" element="moa:VerifyXMLSignatureResponse"/>
	</message>
	<message name="MOAFault">
		<part name="body" element="moa:ErrorResponse"/>
	</message>
	<portType name="SignatureCreationPortType">
		<operation name="createXMLSignature">
			<input message="tns:CreateXMLSignatureInput"/>
			<output message="tns:CreateXMLSignatureOutput"/>
			<fault name="MOAFault" message="tns:MOAFault"/>
		</operation>
		<operation name="createCMSSignature">
			<input message="tns:CreateCMSSignatureInput"/>
			<output message="tns:CreateCMSSignatureOutput"/>
			<fault name="MOAFault" message="tns:MOAFault"/>
		</operation>
	</portType>
	<portType name="SignatureVerificationPortType">
		<operation name="verifyCMSSignature">
			<input message="tns:VerifyCMSSignatureInput"/>
			<output message="tns:VerifyCMSSignatureOutput"/>
			<fault name="MOAFault" message="tns:MOAFault"/>
		</operation>
		<operation name="verifyXMLSignature">
			<input message="tns:VerifyXMLSignatureInput"/>
			<output message="tns:VerifyXMLSignatureOutput"/>
			<fault name="MOAFault" message="tns:MOAFault"/>
		</operation>
	</portType>
	<binding name="SignatureCreationBinding" type="tns:SignatureCreationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createXMLSignature">
			<soap:operation soapAction="urn:CreateXMLSignatureAction"/>
			<input>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</output>
			<fault name="MOAFault">
				<soap:fault name="" use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</fault>
		</operation>
		<operation name="createCMSSignature">
			<soap:operation soapAction="urn:CreateCMSSignatureAction"/>
			<input>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</output>
			<fault name="MOAFault">
				<soap:fault name="" use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</fault>
		</operation>
	</binding>
	<binding name="SignatureVerificationBinding" type="tns:SignatureVerificationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="verifyCMSSignature">
			<soap:operation soapAction="urn:VerifyCMSSignatureAction"/>
			<input>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</output>
			<fault name="MOAFault">
				<soap:fault name="" use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</fault>
		</operation>
		<operation name="verifyXMLSignature">
			<soap:operation soapAction="urn:VerifyXMLSignatureAction"/>
			<input>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</output>
			<fault name="MOAFault">
				<soap:fault name="" use="literal" namespace="http://reference.e-government.gv.at/namespace/moa/20020822#"/>
			</fault>
		</operation>
	</binding>
	<service name="SignatureCreationService">
		<port name="SignatureCreationPort" binding="tns:SignatureCreationBinding">
			<!--
        Please note that the location URL must be adapted to the actual service URL.
      <soap:address location="http://localhost/moa-spss/services/SignatureCreation"/>
      -->
		</port>
	</service>
	<service name="SignatureVerificationService">
		<port name="SignatureVerificationPort" binding="tns:SignatureVerificationBinding">
			<!--
        Please note that the location URL must be adapted to the actual service URL.
      <soap:address location="http://localhost/moa-spss/services/SignatureVerification"/>
      -->
		</port>
	</service>
</definitions>
